@import "imports/palette"
@import "imports/globals"
@import "imports/fonts"
@import "imports/pace"

mobile-breakpoint = 760px

*
	box-sizing border-box
	margin 0px

html
	body
		font-family 'Futura'
		color black
		margin 0
		overflow-x hidden
		.loading-overlay
			z-index 5
			position fixed
			top 0
			left 0
			width 100vw
			height 100%
			opacity 1
			transition ease-in-out 0.5s opacity
			background-color main-red
			padding-top 30vh
			@media screen and (max-width mobile-breakpoint)
					padding-top 15vh
			.loading-image
				position relative
				z-index 1
				width 200px
				height 300px
				margin 0 calc(50vw - 100px)
				background-image url("img/loading.png")
				background-size cover
				background-position center
			p
				color white
				text-align center
				font-family 'FuturaHeavy'
				font-size 3em
				@media screen and (max-width mobile-breakpoint)
					font-size 2em
		.navbar
			.navbar-show
				right 0 !important
			.navbar-container
				right 0
				width 15vw
				background-color main-red
				min-width 150px
				padding 10px 10px
				position fixed
				z-index 3
				top 30%
				transition ease-in-out 0.2s right
				@media screen and (max-width mobile-breakpoint)
					right -150px
					border-bottom 2px solid white
				ul
					padding 10px
					li
						list-style none
						a
							display inline-block
							text-decoration none
							color white
							margin 5px 0px
							font-size 0.8em
							transition ease-in-out 0.2s all
							&:hover
								opacity 0.7
				.display-menu-container
					background-color main-red
					position absolute
					padding 10px
					left -33px
					top 20px
					font-size 15px
					opacity 0
					transition ease-in-out 0.2s opacity
					cursor pointer
					@media screen and (max-width mobile-breakpoint)
						opacity 1
					i
						color white
		.section
			padding 30px 0px 70px
			p
				text-align justify
			.section-title
				font-size 2em
				text-align center
				margin-bottom 30px
				font-family 'FuturaHeavy'
			.box
				width 40%
				margin 0px 30%
				min-width 200px
				position relative
				z-index 2
				@media screen and (max-width 680px)
					width 90%
					margin 0px 5%
			.large-box
				width 50%
				margin 0px 25%
				text-align center
				@media screen and (max-width 680px)
					width 90%
					margin 0px 5%
		.welcome, .elfestival
			padding-top 0px
			.box
				position relative
				z-index 2
				h1, h2, p
					color main-red
				h1
					text-align center
					font-family 'FuturaHeavy'
					line-height 1.1em
					font-weight 600
					font-size 6vw
					padding-top 25vh
					margin-bottom 20px
					overflow visible
					@media screen and (max-width mobile-breakpoint)
						font-size 2.6em
			.top-illus
				z-index 1
				position absolute
				width 100vw
				height 200px
				background-size auto 200px
				background-image url("img/section_welcome/top.png")
				background-position center top
			.left-illus, .right-illus
				position absolute
				top 200px
				height 600px
				width 50%
				margin 0px
				transform translateY(52px)
				z-index 1
				background-repeat no-repeat
				background-size 300px
				background-color white
				background-blend-mode multiply
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_welcome/left.png")
				background-position 10% top
			.right-illus
				right 0
				background-image url("img/section_welcome/right.png")
				background-position 90% top
		.welcome
			height 100vh
			p
				text-align center
				font-size 1em
		.elfestival
			h2
				margin-bottom 20px
			p
				margin-bottom 30px
		.cronograma
			background-color light-blue
			h2
				color dark-blue
			.event-container
				margin-bottom 20px
				.time
					color main-yellow
					font-size 2em
					font-family 'FuturaHeavy'
				.details
					color white
					font-size 1em
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(52px)
				z-index 1
				background-color light-blue
				background-repeat no-repeat
				background-size 300px
				background-blend-mode multiply
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_cronograma/left.png")
				background-position left top
			.right-illus
				right 0
				background-image url("img/section_cronograma/right.png")
				background-position right top
		.invitades
			background-color main-red
			p
				margin-bottom 25px
				font-size 0.9em
			h2, p, .title
				color white
			.invitade-container
				margin-bottom 20px
				.name
					color main-yellow
					font-size 2em
					font-family "FuturaHeavy"
				.type
					color black
				.title
					font-family "FuturaHeavy"
					font-size 1.5em
				.time_place
					display inline-block
					margin-top 5px
					color white
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(52px)
				z-index 1
				background-color main-red
				background-repeat no-repeat
				background-size 300px
				background-blend-mode screen
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_invitades/left.png")
				background-position left top
			.right-illus
				right 0
				background-image url("img/section_invitades/right.png")
				background-position right top
		.feria
			background-color dark-blue //TEMP
			color white
			background-image url('img/section_feria/feria_back.png')
			background-position center
			background-blend-mode multiply
			.box
				p
					margin-bottom 25px
		.exposiciones
			color main-red
			.box
				position relative
				display inline-block
				z-index 2
				h3, h4
					font-family "FuturaHeavy"
				p
					margin-bottom 25px
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(52px)
				z-index 1
				background-repeat no-repeat
				background-size 300px
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_exposiciones/left.png")
				background-position 10% top
			.right-illus
				right 0
				background-image url("img/section_exposiciones/right.png")
				background-position 90% top
		footer
			background-color main-purple //TEMP
			color white
			.section
				padding 0px
				.top-footer-section
					background-image url("img/footer/footer_back.png")
					background-color main-purple
					background-blend-mode multiply
					padding 30px 0px 30px
					.large-box
						.section-title
							margin-bottom 20px
							font-family "FuturaHeavy"
							font-size 1.5em
						p
							text-align center
						.mail
							display inline-block
							margin-top 20px
							color white
							text-decoration none
							font-family 'FuturaHeavy'
							font-size 1.5em
							transition 0.2s ease-in-out all
							&:hover
								opacity 0.8
							@media screen and (max-width mobile-breakpoint)
								font-size 1em
				.bottom-footer-section
					margin 0px 20px
					.large-box
						display flex
						flex-direction row
						justify-content space-between
						align-items center
						a
							.footer-logo
								width 100px
								height 100px
								background-size 100%
								background-position center
								background-repeat no-repeat
								background-blend-mode screen
								background-color main-purple
								transition ease-in-out opacity 0.2s
								&:hover
									opacity 0.8
								@media screen and (max-width mobile-breakpoint)
									width 60px
									height 60px