@import "imports/palette"
@import "imports/globals"
@import "imports/fonts"
@import "imports/pace"

*
	box-sizing border-box
	margin 0px

html
	body
		font-family 'Futura'
		color black
		margin 0
		overflow-x hidden
		@import "imports/overlay"
		@import "imports/navbar"
		.section
			padding 30px 0px 70px
			p
				text-align justify
			.section-title
				font-size 2em
				text-align center
				margin-bottom 30px
				font-family 'FuturaHeavy'
			.box
				width 40%
				margin 0px 30%
				min-width 200px
				position relative
				z-index 2
				@media screen and (max-width 680px)
					width 90%
					margin 0px 5%
			.large-box
				width 50%
				margin 0px 25%
				text-align center
				@media screen and (max-width 680px)
					width 90%
					margin 0px 5%
		.welcome, .elfestival
			padding-top 0px
			.box
				position relative
				z-index 2
				h1, h2, p
					color main-red
				h1
					text-align center
					padding-top 25vh
					font-family 'FuturaHeavy'
					font-size 6vw
					margin-bottom 10vh
					line-height 1em
					@media screen and (max-width 680px)
						font-size 10vw
			.top-illus
				z-index 1
				position absolute
				width 100vw
				height 200px
				background-size auto 200px
				background-image url("img/section_welcome/top.png")
				background-position center top
			.left-illus, .right-illus
				position absolute
				top 200px
				height 750px
				width 50%
				margin 0px
				transform translateY(52px)
				z-index 1
				background-repeat repeat-y
				background-size 300px
				background-color white
				background-blend-mode multiply
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_welcome/left.png")
				background-position 10% top
			.right-illus
				right 0
				background-image url("img/section_welcome/right.png")
				background-position 90% top
		.welcome
			height 100vh
			padding-bottom 0px
			p
				text-align center
				font-size 1em
		.elfestival
			h2
				margin-bottom 20px
			p
				margin-bottom 30px
			a
				text-decoration none
				cursor pointer !important
				font-family 'FuturaHeavy'
				color main-red
		.cronograma
			background-color light-blue
			h2
				color dark-blue
			.event-container
				margin-bottom 20px
				.time
					color main-yellow
					font-size 2em
					font-family 'FuturaHeavy'
				.details
					color white
					font-size 1em
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(100px) !important
				z-index 1
				background-color light-blue
				background-repeat no-repeat
				background-size 300px
				background-blend-mode multiply
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_cronograma/left.png")
				background-position left top
			.right-illus
				right 0
				background-image url("img/section_cronograma/right.png")
				background-position right top
		.invitades
			background-color main-red
			p
				margin-bottom 25px
				font-size 0.9em
			h2, p, .title
				color white
			.invitade-container
				margin-bottom 20px
				a
					text-decoration none
					.name
						color main-yellow
						font-size 2em
						font-family "FuturaHeavy"
						transition ease-in-out 0.2s opacity
						&:hover
							opacity 0.8
				.type
					color black
				.title
					font-family "FuturaHeavy"
					font-size 1.5em
				.time_place
					display inline-block
					margin-top 5px
					color white
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(100px) !important
				z-index 1
				background-color main-red
				background-repeat no-repeat
				background-size 300px
				background-blend-mode screen
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_invitades/left.png")
				background-position left top
			.right-illus
				right 0
				background-image url("img/section_invitades/right.png")
				background-position right top
		.feria
			background-color dark-blue //TEMP
			color white
			background-image url('img/section_feria/feria_back.png')
			background-position center
			background-blend-mode multiply
			.box
				p
					margin-bottom 25px
		.exposiciones
			color main-red
			.box
				position relative
				display inline-block
				z-index 2
				h3, h4
					font-family "FuturaHeavy"
				p
					margin-bottom 25px
			.left-illus, .right-illus
				position absolute
				height 600px
				width 50%
				margin 0px
				transform translateY(100px) !important
				z-index 1
				background-repeat no-repeat
				background-size 300px
				transition 0.2s ease-in-out opacity
				@media screen and (max-width 920px)
					opacity 0.1 !important
			.left-illus
				left 0
				background-image url("img/section_exposiciones/left.png")
				background-position 10% top
			.right-illus
				right 0
				background-image url("img/section_exposiciones/right.png")
				background-position 90% top
			.place
				font-family 'FuturaHeavy'
				color light-blue
		.quienes-somos
			background-color dark-blue
			.box
				h2
					color light-blue
				p
					color white
					margin-bottom 25px

		@import "imports/footer"