@font-face
    font-family Futura
    src url(fonts/futura_light_bt.ttf) format('truetype')
    src url(fonts/futura_light_bt-webfont.woff) format('woff')
    src url(fonts/futura_light_bt-webfont.woff2) format('woff2')
@font-face
    font-family FuturaHeavy
    src url(fonts/futura_heavy.ttf) format('truetype')

@font-face
    font-family FuturaExtraHeavy
    src url(fonts/futuraExtraHeavy.ttf) format('truetype')

@font-face 
    font-family Neutraface
    src url(fonts/NeutraTextTF-DemSC.otf) format("opentype")
    src url(fonts/NeutraTextTF-DemSC.woff) format("woff")