@font-face
    font-family FuturaBook
    src url(fonts/Futura-Book.ttf) format('truetype')

@font-face
    font-family FuturaBookBD
    src url(fonts/Futura-Book-BD.ttf) format('truetype')

@font-face
    font-family FuturaBookLT
    src url(fonts/Futura-Book-LT.ttf) format('truetype')