footer
    background-color main-purple //TEMP
    color white
    .section
        padding 0px
        .top-footer-section
            background-image url("img/footer/footer_back.png")
            background-color main-purple
            background-blend-mode multiply
            padding 30px 0px 30px
            .large-box
                .section-title
                    margin-bottom 20px
                    font-family "FuturaHeavy"
                    font-size 1.5em
                p
                    text-align center
                .mail
                    display inline-block
                    margin-top 20px
                    color white
                    text-decoration none
                    font-family 'FuturaHeavy'
                    font-size 1.5em
                    transition 0.2s ease-in-out all
                    &:hover
                        opacity 0.8
                    @media screen and (max-width mobile-breakpoint)
                        font-size 1em
        .bottom-footer-section
            margin 0px 20px
            .large-box
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                a
                    .footer-logo
                        width 100px
                        height 100px
                        background-size 100%
                        background-position center
                        background-repeat no-repeat
                        background-blend-mode screen
                        background-color main-purple
                        transition ease-in-out opacity 0.2s
                        &:hover
                            opacity 0.8
                        @media screen and (max-width mobile-breakpoint)
                            width 60px
                            height 60px