footer
    .section
        .top-footer-section
            .large-box
                h1=site_data.title
                each val in site_data.date
                    p=val
                a(href="mailto:" + site_data.mail)=site_data.mail
        .bottom-footer-section
            .large-box
                each val in footer.footer_images.logos
                    .footer-logo(style="background-image: url('" + val + "')")