footer
    .section
        .top-footer-section
            .large-box
                h1.section-title=site_data.title
                each val in site_data.date
                    p=val
                a(href="mailto:" + site_data.mail)=site_data.mail
        .bottom-footer-section
            .large-box
                each val in footer.footer_images.logos
                    a(href=val.link)
                        .footer-logo(style="background-image: url('" + val.logo + "')")