meta(charset="utf-8")

meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(rel="stylesheet" href="extras/uikit.min.css") 

link(rel="stylesheet" type="text/css" href="stylesheet.css")

link(rel="shortcut icon" type="image/png" href="img/favicon.png")

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css", integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL", crossorigin="anonymous")

link(rel="stylesheet" ,href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css", integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW", crossorigin="anonymous")

link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css", integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I", crossorigin="anonymous")

script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")

script(src="extras/uikit.min.js")