.navbar
    .navbar-container
        .display-menu-container
            i.fa.fa-bars
        ul
            each val in section_titles
                li
                    a(href="#" go=val.replace(/\s/g, "").toLowerCase())=val
            li
                a(href="http://festivalsudestada.com/edicion_2017") EDICIÓN ANTERIOR